.volume-controls {
  display: flex;
  align-items: center;
}

.volume-slider-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.volume-percentage-container {
  display: flex;
  align-items: center;
}

.volume-controls {
  position: absolute;
  top: 3px;
  display: flex;
  align-self: end;
  align-items: center;
  justify-content: start;
}

.volume-percentage {
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}
.volume-icon {
  height: 26px;
  width: 26px;
}
