.search-container {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  background-color: #333;
  border-radius: 20px;
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.search-container:hover,
.search-container:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #444;
}

.search-input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 20px;
  width: 0;
  opacity: 0;
  background-color: #333;
  color: #e0e0e0;
  transition: width 0.3s ease, opacity 0.3s ease, background-color 0.3s ease,
    color 0.3s ease;
  overflow: hidden;
}

.search-container:hover .search-input,
.search-container:focus-within .search-input {
  width: 235px;
  opacity: 1;
  background-color: #444;
  color: #ffffff;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  transition: color 0.3s ease;
}

.search-button .material-icons {
  font-size: 24px;
  background: linear-gradient(45deg, #ff5722, #2196f3, #ff5722, #2196f3);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease;
}

.search-container:hover .material-icons,
.search-container:focus-within .material-icons {
  background-position: 100% 50%;
}

@media (max-width: 768px) {
  .search-container:hover .search-input,
  .search-container:focus-within .search-input {
    width: 170px;
  }
}
