<div class="parent-container">
  <h1>Songs</h1>
  <div class="song-header">
    <div class="header-item"><h4>Song</h4></div>
    <div class="header-item"><h4>Artist</h4></div>
    <div class="header-item"><h4>Album</h4></div>
    <div class="header-item"><h4>Time</h4></div>
    <div class="header-last"><h4>Actions</h4></div>
  </div>
  <div class="song-list-container">
    <div *ngFor="let song of songs; let i = index" class="song-item">
      <div class="song-column">
        <img
          *ngIf="coverImageSrcMap[song.id]"
          [src]="coverImageSrcMap[song.id]"
          (click)="
            playSong(song.id, song.file_path, song.title, song.album_cover_url)
          "
          alt="Cover Image"
          class="cover-image"
          style="cursor: pointer"
        />
        <div class="song-details">
          <p
            (click)="
              playSong(
                song.id,
                song.file_path,
                song.title,
                song.album_cover_url
              )
            "
            style="cursor: pointer"
          >
            {{ song.title }}
          </p>
        </div>
      </div>

      <div class="artist-column">
        <p>{{ song.artist || "empty" }}</p>
      </div>

      <div class="album-column">
        <p>{{ song.album || "empty" }}</p>
      </div>
      <div class="time-column">
        <p>
          {{ song.length || "empty" }}
        </p>
      </div>

      <div class="actions-column">
        <button (click)="('menu')">
          <img src="/three-dots.png" alt="menu-img" class="icon-img" />
        </button>
        <div *ngIf="'menu'" class="menu-container"></div>
      </div>
    </div>
  </div>
</div>
