.song-list-container {
  max-height: 800px;
  overflow-y: auto;
}

.song-header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 0.3rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
}

.header-item {
  flex: 1;
  font-weight: bold;
  color: #fff;
}
.header-last {
  padding-right: 2%;
  font-weight: bold;
  color: #fff;
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  margin-bottom: 2px;
  padding: 0.3rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  animation: fadeIn 0.5s ease forwards;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.song-item:hover {
  transform: translateY(-5px);
  background-color: rgba(0, 0, 0, 0.8);
}

.song-column,
.artist-column,
.album-column,
.actions-column {
  display: flex;
  align-items: center;
}

.song-column,
.artist-column,
.time-column,
.album-column {
  flex: 1;
}
.song-details {
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cover-image {
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.cover-image:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
