<div class="song-list-container">
  <h2 class="title">Top 10</h2>
  <div class="top-songs-row">
    <div *ngFor="let song of songs; let i = index" class="song-item">
      <div class="song-column">
        <span class="song-number">{{ i + 1 }}</span>

        <app-play
          [customCover]="'cover-image-large'"
          [customTitle]="'top-songs-title'"
          [songId]="song.id"
          [filePath]="song.file_path"
          [title]="song.title"
          [albumCoverUrl]="song.album_cover_url"
          [artist]="song.artist"
          [img]="song.album_cover_url"
        ></app-play>
      </div>
    </div>
  </div>
</div>
