.song-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-songs-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.top-songs-row::-webkit-scrollbar {
  height: 12px;
}

.top-songs-row::-webkit-scrollbar-track {
  background: #333;
}

.top-songs-row::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 2px;
}

.top-songs-row::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.title {
  align-self: start;
}

.song-item {
  flex: 0 0 auto;
  margin: 10px;
  padding: 4px;
  max-width: 150px;
  transition: background-color 0.3s ease;
}

.song-item:hover {
  background-color: rgba(165, 165, 165, 0.116);

  border-radius: 5px;
}
.song-number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.song-details {
  margin-top: 10px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.artist-column,
.time-column,
.actions-column {
  display: none;
}
