<div class="artist-container">
  <!-- Artist Header -->
  <div class="artist-header">
    <div class="artist-thumbnail">
      <span>{{ artist.name.charAt(0) }}</span>
    </div>
    <div class="artist-info">
      <h1 class="artist-name">{{ artist.name }}</h1>
      <h2 class="artist-genre">{{ genre }}</h2>
    </div>
  </div>

  <!-- Songs List -->
  <div class="parent-container">
    <div class="song-list-container">
      <app-songs-list
        [filterFn]="artistFilter"
        sortCriteria="id"
        [inputSongs]="artist"
      >
      </app-songs-list>
    </div>
  </div>
</div>
