<div class="artist-container">
  <!-- Artist Header -->
  <div class="artist-header">
    <img
      class="artist-cover"
      [src]="
        coverSrc && !coverSrc.includes('/null') ? coverSrc : '/cd-cover.png'
      "
      alt="{{ songs[0].artist || 'Artist' }}"
    />
    <div class="artist-info">
      <h1 class="artist-name">{{ songs[0].artist }}</h1>
      <h2 class="artist-genre">{{ songs[0].genre }}</h2>
    </div>
  </div>

  <!-- Songs List -->
  <div class="parent-container">
    <div class="song-list-container">
      <div class="song-list-container">
        <app-songs-list
          [filterFn]="artistFilter"
          sortCriteria="id"
        ></app-songs-list>
      </div>
    </div>
  </div>
</div>
