<h1>Playlists</h1>
<div class="playlists-container">
  <form (submit)="createPlaylist(); $event.preventDefault()">
    <input
      type="text"
      [(ngModel)]="newPlaylistName"
      name="playlistName"
      placeholder="Playlist Name"
      required
    />
    <input
      type="text"
      [(ngModel)]="newPlaylistDescription"
      name="playlistDescription"
      placeholder="Playlist Description"
    />
    <button type="submit">Create Playlist</button>
  </form>

  <!-- Display list of playlists -->
  <ul>
    <li *ngFor="let playlist of playlists">
      <div class="playlist-card">
        <img
          class="playlist-image"
          [src]="
            playlist.name === 'Favorites'
              ? '/favorites.png'
              : playlist.imgUrl || '/playlists.png'
          "
          alt="{{ playlist.name }}"
        />
        <div class="playlist-info">
          <h3>{{ playlist.name }}</h3>
          <p>{{ playlist.description }}</p>
          <div class="playlist-actions">
            <button [routerLink]="['/playlist', playlist.id]">Open</button>
            <button (click)="selectPlaylist(playlist.id)">
              Select for Adding Song
            </button>
            <button (click)="deletePlaylist(playlist.id)">Delete</button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div *ngIf="selectedPlaylistId" class="add-song-container">
    <h2>Add Song to Playlist (ID: {{ selectedPlaylistId }})</h2>
    <form (submit)="addSongToPlaylist(); $event.preventDefault()">
      <input
        type="number"
        [(ngModel)]="songIdToAdd"
        name="songId"
        placeholder="Song ID"
        required
      />
      <button type="submit">Add Song</button>
    </form>
  </div>
</div>
