.parent-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.507);
}
.song-list-container {
  overflow-y: auto;
  position: relative;
}

.song-header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(10, 10, 10, 0.507);
  border-bottom: 1px solid grey;
}

.header-item {
  flex: 1;
  font-weight: bold;
}

.song-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 0.3rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.song-item:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.song-column,
.artist-column,
.album-column,
.actions-column {
  flex: 1;
  text-align: left;
}

.time-column {
  text-align: right;
}

.icon-img {
  width: 20px;
  height: 20px;
}
app-menu {
  display: flex;
  justify-content: end;
}

@media (max-width: 768px) {
  .song-header {
    display: none;
  }

  .song-column {
    flex-direction: row;
    align-items: center;
  }
  .album-column {
    display: none;
  }
  .artist-column {
    display: flex;
    justify-content: center;
  }
  .artist-column p {
    font-size: 0.6rem;
  }
  .time-column {
    display: none;
  }

  .song-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .song-details p {
    margin: 0;
  }
}
