<div class="song-header">
  <div class="header-item"><h4>Song</h4></div>
  <div class="header-item"><h4>Artist</h4></div>
  <div class="header-item"><h4>Album</h4></div>
  <div class="header-item"><h4>Time</h4></div>
  <div class="header-last"><h4>Actions</h4></div>
</div>
<div
  *ngFor="let song of songs; let i = index; trackBy: trackBySongId"
  class="song-item"
  [ngClass]="{ 'currently-playing': song.id === songId }"
>
  <div class="song-column">
    <app-play
      [customCover]="'cover-image'"
      [customTitle]="'songs-title'"
      [customColumn]="'songs-column'"
      [songId]="song.id"
      [title]="song.title"
      [img]="song.album_cover_url"
      [albumSongs]="inputSongs"
    ></app-play>
  </div>

  <div class="artist-column">
    <p>{{ song.artist || "empty" }}</p>
  </div>

  <div class="album-column">
    <p>{{ song.album || "empty" }}</p>
  </div>
  <div class="time-column">
    <p>
      {{ song.length || "empty" }}
    </p>
  </div>

  <div class="actions-column">
    <app-menu
      [isMenuOpen]="openMenuSongId === song.id"
      [songId]="song.id"
      (toggleMenu)="toggleMenu(song.id)"
    ></app-menu>
  </div>
</div>
