<div class="album-container">
  <!-- Album Header -->
  <div class="album-header">
    <img
      class="album-cover"
      [src]="
        coverSrc && !coverSrc.includes('/null') ? coverSrc : '/cd-cover.png'
      "
      alt="{{ songs[0].album || 'Album Cover' }}"
    />
    <div class="album-info">
      <h1 class="album-title">{{ songs[0].album }}</h1>
      <h2 class="album-artist">{{ songs[0].artist }}</h2>
    </div>
  </div>

  <div class="parent-container">
    <div class="song-list-container">
      <app-songs-list
        [filterFn]="albumFilter"
        sortCriteria="id"
      ></app-songs-list>
    </div>
  </div>
</div>
