<div class="album-container">
  <!-- Album Header -->
  <div class="album-header">
    <img
      class="album-cover"
      [src]="
        coverSrc && !coverSrc.includes('/null') ? coverSrc : '/cd-cover.png'
      "
      alt="{{ album.title || 'Album Cover' }}"
    />
    <div class="album-info">
      <h1 class="album-title">{{ album.title }}</h1>
      <h2 class="album-artist">{{ album.songs[0].artist }}</h2>
    </div>
  </div>

  <div class="parent-container">
    <div class="song-list-container">
      <app-songs-list [inputSongs]="album.songs"></app-songs-list>
    </div>
  </div>
</div>
