.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(
    45deg,
    rgba(32, 49, 148, 0.226),
    rgba(8, 60, 112, 0.377),
    rgba(14, 66, 109, 0.349),
    rgba(36, 36, 141, 0.397)
  );
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.658),
    0 0 20px rgba(9, 66, 122, 0.658), 0 0 30px rgba(0, 71, 141, 0.658);
  backdrop-filter: blur(10px);
  border-radius: 5px;

  h1 {
    margin: 5px 0;
    font-size: 2.2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h2 {
    margin: 20px 0;
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease;

      &:hover {
        color: #ffeb3b;
      }
    }
  }
}
