<div class="home-container">
  <h1>Home</h1>
  <div class="card-container">
    <div class="card" routerLink="songs">
      <div class="card-image" style="background-image: url('/music.png')"></div>
      <div class="card-text">Songs</div>
    </div>
    <div class="card" routerLink="albums">
      <div
        class="card-image"
        style="background-image: url('/album-cover-design.png')"
      ></div>
      <div class="card-text">Albums</div>
    </div>
    <div class="card" routerLink="playlists">
      <div
        class="card-image"
        style="background-image: url('/playlist.png')"
      ></div>
      <div class="card-text">Playlists</div>
    </div>
    <div class="card" routerLink="artists">
      <div
        class="card-image"
        style="background-image: url('/artists.png')"
      ></div>
      <div class="card-text">Artists</div>
    </div>
  </div>
  <h2>Top 15</h2>
  <app-top-songs></app-top-songs>
</div>
