.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  margin: 10px 0;
  font-size: 2.2rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;

  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: #ffeb3b;
      transform: scale(1.1);
    }
  }
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.card {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  text-align: center;
  color: white;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
}

.card-text {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 1.2em;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card-text:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .card-container {
    margin: 0;
  }
  .card {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100px;
    height: 100px;
  }
}
