<div class="song-list-container">
  <h2 class="title">Top:10</h2>
  <div class="top-songs-row">
    <div *ngFor="let song of songs; let i = index" class="song-item">
      <div class="song-column">
        <span class="song-number">{{ i + 1 }}</span>
        <img
          *ngIf="coverImageSrcMap[song.id]"
          [src]="coverImageSrcMap[song.id]"
          (click)="playSong(song.id, song.file_path, song.title)"
          alt="Cover Image"
          class="cover-image-large"
          style="cursor: pointer"
        />
        <div class="song-details">
          <p
            (click)="playSong(song.id, song.file_path, song.title)"
            style="cursor: pointer"
          >
            {{ song.title }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
