.cover-image {
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.cover-image:hover {
  transform: scale(1.05);
}

.cover-image-large {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
