<div class="player">
  <h2 class="player-title">{{ player.currentTitle }}</h2>
  <div class="volume-controls">
    <div class="volume-slider-container">
      <input
        type="range"
        class="styled-slider slider-progress"
        #volumeSlider
        [value]="player.volumePercentage"
        (input)="changeVolume($event)"
      />
    </div>
    <div class="volume-percentage-container">
      <span class="volume-percentage">{{ player.volumePercentage }}%</span>
    </div>
  </div>
  <div class="player-controls">
    <button class="player-button shuffle-button" (click)="toggleShuffle()">
      <img class="icon" src="/shuffle.png" alt="Shuffle" />
    </button>
    <button class="player-button previous" (click)="previousSong()">
      <img class="icon" src="/previous.png" alt="Previous" />
    </button>
    <button class="player-button" (click)="togglePlayPause()">
      <img *ngIf="!player.isPlaying" class="icon" src="/play.png" alt="Play" />
      <img *ngIf="player.isPlaying" class="icon" src="/pause.png" alt="Pause" />
    </button>
    <button class="player-button next" (click)="nextSong()">
      <img class="icon" src="/next.png" alt="Next" />
    </button>
    <button class="player-button repeat-button" (click)="toggleRepeat()">
      <img class="icon" src="/repeat.png" alt="Repeat" />
    </button>
    <audio
      #audio
      id="audio"
      class="player-audio"
      (loadedmetadata)="updateDuration($event)"
      (timeupdate)="updateCurrentTime($event)"
    ></audio>
  </div>
  <div class="player-extra-controls">
    <span class="timer">{{ player.currentTime }}</span>
    <input
      type="range"
      class="progress-slider"
      #progressSlider
      (input)="seek($event)"
      [max]="player.audioDuration"
      [value]="player.audioCurrentTime"
    />
    <span class="timer">{{ player.duration }}</span>
  </div>
</div>
