.player {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.3),
    rgba(94, 1, 1, 0.5),
    rgba(155, 0, 0, 0.575),
    rgba(77, 0, 0, 0.616)
  );
  box-shadow: 0 0 15px rgba(30, 143, 255, 0.404),
    0 0 25px rgba(9, 65, 122, 0.404), 0 0 35px rgba(0, 71, 141, 0.404);
  padding: 0 10px;
  border-radius: 10px;
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
}
.volume-controls {
  display: flex;
  align-items: center;
}

.volume-slider-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.volume-percentage-container {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.volume-percentage {
  white-space: nowrap;
}

.album-cover {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.player-title {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.volume-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.volume-percentage {
  margin-left: 5px;
  color: white;
  font-size: 0.8em;
}

.player-controls {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.player-button {
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  margin: 0 5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 5px;
  transition: transform 0.2s, color 0.2s, box-shadow 0.2s;
}
.player-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.next,
.previous {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.player-button:hover {
  color: #1e8fff;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(30, 143, 255, 0.7);
}

.player-extra-controls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.timer {
  color: white;
  font-size: 0.8em;
}

.shuffle-button,
.repeat-button {
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  width: 28px;
  height: 28px;
  padding: 5px;
  transition: transform 0.2s, color 0.2s, box-shadow 0.2s;
}

.shuffle-button:hover,
.repeat-button:hover {
  color: #1e8fff;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(30, 143, 255, 0.7);
}
