.full-player {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    135deg,
    rgba(12, 0, 0, 0.3),
    rgba(65, 0, 0, 0.5),
    rgba(27, 0, 0, 0.068),
    rgba(63, 0, 0, 0.616)
  );
  box-shadow: 15px 0 30px rgba(255, 0, 0, 0.1),
    -15px 0 30px rgba(255, 0, 0, 0.1), 0 10px 20px rgba(255, 0, 0, 0.05),
    0 -10px 20px rgba(255, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 0 10px;
  border-radius: 15px;
  width: 100%;
  height: 100px;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: end;
  color: white;
}
.player-header {
  position: absolute;
  display: flex;
  padding: 5px;
  width: 30%;
}
.title-artist {
  width: 100%;
}
.album-cover {
  display: flex;
  justify-content: start;
  width: 80px;
  height: 80px;
  border-radius: 2px;
  padding: 5px;
}

.player-artist {
  display: flex;
  align-self: end;
  font-weight: 150;
  font-size: 0.6rem;
}

.player-title {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.player-title-text {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.title-artist:hover .player-title-text {
  animation: scroll-text 10s linear infinite;
}

.title-artist:not(:hover) .player-title-text {
  animation: none;
  transform: translateX(0);
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.volume-controls {
  display: flex;
  align-items: center;
}

.volume-slider-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.volume-percentage-container {
  display: flex;
  align-items: center;
}

.volume-controls {
  position: absolute;
  top: 3px;
  padding: 2px;
  display: flex;
  align-self: end;
  align-items: center;
  justify-content: start;
}

.volume-percentage {
  margin-left: 5px;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}
.volume-icon {
  height: 26px;
  width: 26px;
}
.player-controls {
  display: flex;
  align-items: center;
  padding: 0px 0px;
}

.player-button {
  background: none;
  border: none;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.player-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.player-button.active {
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

.player-button.active img {
  filter: brightness(1.2);
  transition: filter 0.3s ease;
}

.play {
  width: 43px;
  height: 43px;
  padding: 5px;
}
.next,
.previous {
  width: 32px;
  height: 32px;
  padding: 5px;
}

.player-extra-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.timer {
  color: #cac9c9;
  font-size: 0.8em;
  font-family: "Arial", sans-serif;
  padding: 0 5px;
}

.shuffle-button,
.repeat-button {
  background: none;
  border: none;
  color: #333;
  font-size: 1.2em;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.icon {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.icon:hover {
  opacity: 0.9;
}

@media (max-width: 1200px) {
  .full-player {
    height: 90px;
  }
  .album-cover {
    width: 65px;
    height: 65px;
  }
}
@media (max-width: 768px) {
  .full-player {
    height: 85px;
    border-radius: 0;
    padding: 0 0px;
  }
  .player-header {
    padding: 0px;
    width: 35%;
  }
  .player-extra-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
  }
  .album-cover {
    width: 50px;
    height: 50px;
    border-radius: 2px;
  }
  .player-title {
    font-size: 0.6em;
  }
  .volume-controls {
    top: 3px;
  }
  .volume-icon {
    width: 22px;
    height: 22px;
  }
  .player-artist {
    font-size: 0.5rem;
  }
}
