.progress-slider {
  flex-grow: 1;
  margin: 0 10px;
  background: #4e4e4eaf;
  border-radius: 5px;
  height: 5px;
  appearance: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--progress, 0);
    background: rgb(218, 218, 218);
    border-radius: 5px;
    z-index: 1;
  }
}

.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none; /* Remove default styling */
  width: 5px; /* Adjust the thumb size */
  height: 5px; /* Adjust the thumb size */
  background: none; /* Thumb color */
  border: none; /* Remove any border */
  z-index: 2; /* Ensure thumb is above the played area */
}

.progress-slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: rgb(218, 218, 218);
  border: none;
  z-index: 2;
}
