<div class="myapp">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink=""
  >
    <mat-icon>home</mat-icon>
  </button>
  <app-search></app-search>

  <span class="example-spacer"></span>

  <div class="navbar-title-container">
    <span class="navbar-title">Bmusic</span>
  </div>
  <span class="example-spacer"></span>

  <button
    #uploadButton
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with upload icon"
    (click)="toggleUpload()"
  >
    <mat-icon>upload</mat-icon>
  </button>
  <!-- Pass showUpload flag -->
  <div *ngIf="showUpload">
    <app-upload></app-upload>
  </div>
</div>
