<mat-toolbar class="myapp">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>home</mat-icon>
  </button>
  <div class="search-container">
    <button class="search-button">
      <i class="material-icons">search</i>
    </button>
    <input type="text" class="search-input" placeholder="Search" />
  </div>

  <span class="example-spacer"></span>

  <div class="navbar-title-container">
    <span class="navbar-title">Bmusic</span>
  </div>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with upload icon"
  >
    <mat-icon>upload</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
