body,
html {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: linear-gradient(
    135deg,
    rgba(12, 0, 0, 1),
    rgba(0, 0, 45, 1),
    rgba(27, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
  color: #c9d1d9;
}

body {
  padding-right: 10%;
  padding-left: 10%;
}

// parent for all the components
app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

// main content area
main {
  flex-grow: 1;
  padding: 0 0px;
  height: 100vh;
  overflow: auto;
}
// child components

// Header
// app-navbar
// home component
app-home {
  flex-grow: 1;
}
// Footer
app-player {
  display: flex;
  justify-content: end;
  align-self: flex-end;
  width: 100%;
}

// upload component
.cdk-global-overlay-wrapper {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
}
h1 {
  margin: 0;
  font-size: 3rem;
  padding: 0.2rem 0.1rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}
h2 {
  margin: 0.2rem 0.1rem;
  font-weight: 350;
  padding: 0.2rem 0.1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}
h3 {
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}
h4 {
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0.2rem 0.1rem;
  margin: 0;
}
p {
  font-weight: 280;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}

// Responsive design
@media (max-width: 1200px) {
  body {
    padding-right: 6%;
    padding-left: 6%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) {
  body {
    padding-right: 4%;
    padding-left: 4%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .cdk-global-overlay-wrapper {
    position: absolute;
    top: 7%;
  }

  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.65rem;
  }
}
